[data-col="1"] {
  left: 0.69444%; }

[data-col="2"] {
  left: 8.02778%; }

[data-col="3"] {
  left: 15.36111%; }

[data-col="4"] {
  left: 22.69444%; }

[data-col="5"] {
  left: 30.02778%; }

[data-col="6"] {
  left: 37.36111%; }

[data-col="7"] {
  left: 44.69444%; }

[data-col="8"] {
  left: 52.02778%; }

[data-col="9"] {
  left: 59.36111%; }

[data-col="10"] {
  left: 66.69444%; }

[data-col="11"] {
  left: 74.02778%; }

[data-col="12"] {
  left: 81.36111%; }

[data-col="13"] {
  left: 88.69444%; }

[data-row="1"] {
  top: 0.69444%; }

[data-row="2"] {
  top: 8.02778%; }

[data-row="3"] {
  top: 15.36111%; }

[data-row="4"] {
  top: 22.69444%; }

[data-row="5"] {
  top: 30.02778%; }

[data-row="6"] {
  top: 37.36111%; }

[data-row="7"] {
  top: 44.69444%; }

[data-row="8"] {
  top: 52.02778%; }

[data-row="9"] {
  top: 59.36111%; }

[data-row="10"] {
  top: 66.69444%; }

[data-row="11"] {
  top: 74.02778%; }

[data-row="12"] {
  top: 81.36111%; }

[data-row="13"] {
  top: 88.69444%; }

[data-row="14"] {
  top: 96.02778%; }

[data-row="15"] {
  top: 103.36111%; }

[data-row="16"] {
  top: 110.69444%; }

[data-row="17"] {
  top: 118.02778%; }

[data-row="18"] {
  top: 125.36111%; }

[data-row="19"] {
  top: 132.69444%; }

[data-row="20"] {
  top: 140.02778%; }

[data-row="21"] {
  top: 147.36111%; }

[data-row="22"] {
  top: 154.69444%; }

[data-row="23"] {
  top: 162.02778%; }

[data-row="24"] {
  top: 169.36111%; }

[data-row="25"] {
  top: 176.69444%; }

[data-row="26"] {
  top: 184.02778%; }

[data-row="27"] {
  top: 191.36111%; }

[data-row="28"] {
  top: 198.69444%; }

[data-row="29"] {
  top: 206.02778%; }

[data-row="30"] {
  top: 213.36111%; }

[data-row="31"] {
  top: 220.69444%; }

[data-row="32"] {
  top: 228.02778%; }

[data-row="33"] {
  top: 235.36111%; }

[data-sizex="0"] {
  width: -0.80556%; }

[data-sizex="1"] {
  width: 6.52778%; }

[data-sizex="2"] {
  width: 13.86111%; }

[data-sizex="3"] {
  width: 21.19444%; }

[data-sizex="4"] {
  width: 28.52778%; }

[data-sizex="5"] {
  width: 35.86111%; }

[data-sizex="6"] {
  width: 43.19444%; }

[data-sizex="7"] {
  width: 50.52778%; }

[data-sizex="8"] {
  width: 57.86111%; }

[data-sizex="9"] {
  width: 65.19444%; }

[data-sizex="10"] {
  width: 72.52778%; }

[data-sizex="11"] {
  width: 79.86111%; }

[data-sizex="12"] {
  width: 87.19444%; }

[data-sizey="0"] {
  height: -1.30556%; }

[data-sizey="1"] {
  height: 6.02778%; }

[data-sizey="2"] {
  height: 13.36111%; }

[data-sizey="3"] {
  height: 20.69444%; }

[data-sizey="4"] {
  height: 28.02778%; }

[data-sizey="5"] {
  height: 35.36111%; }

[data-sizey="6"] {
  height: 42.69444%; }

[data-sizey="7"] {
  height: 50.02778%; }

[data-sizey="8"] {
  height: 57.36111%; }

[data-sizey="9"] {
  height: 64.69444%; }

[data-sizey="10"] {
  height: 72.02778%; }

[data-sizey="11"] {
  height: 79.36111%; }

[data-sizey="12"] {
  height: 86.69444%; }

[data-sizey="13"] {
  height: 94.02778%; }

[data-sizey="14"] {
  height: 101.36111%; }

[data-sizey="15"] {
  height: 108.69444%; }

[data-sizey="16"] {
  height: 116.02778%; }

[data-sizey="17"] {
  height: 123.36111%; }

[data-sizey="18"] {
  height: 130.69444%; }

[data-sizey="19"] {
  height: 138.02778%; }

[data-sizey="20"] {
  height: 145.36111%; }

[data-sizey="21"] {
  height: 152.69444%; }

[data-sizey="22"] {
  height: 160.02778%; }

[data-sizey="23"] {
  height: 167.36111%; }

[data-sizey="24"] {
  height: 174.69444%; }

[data-sizey="25"] {
  height: 182.02778%; }

[data-sizey="26"] {
  height: 189.36111%; }

[data-sizey="27"] {
  height: 196.69444%; }

[data-sizey="28"] {
  height: 204.02778%; }

[data-sizey="29"] {
  height: 211.36111%; }

[data-sizey="30"] {
  height: 218.69444%; }

[data-sizey="31"] {
  height: 226.02778%; }

[data-sizey="32"] {
  height: 233.36111%; }

@media (max-width: 640px) {
  [data-sizex],
  [data-sizey],
  [data-col],
  [data-row] {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    left: auto;
    top: auto;
    margin: .3em;
    padding: 1em; } }
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa, .icon-add:before, .icon-save:before, .icon-remove:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-add:before {
  content: "\f067"; }

.icon-save:before {
  content: "\f0c7"; }

.icon-remove:before {
  content: "\f1f8"; }

@keyframes hide-ribbon-widget {
  0% {
    visibility: visible;
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    visibility: hidden;
    position: absolute; } }
.widget_ribbon--inner {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px; }
.widget_ribbon--list {
  padding: 0;
  margin: 0;
  /* set the width based on the amount of children*/ }
  .widget_ribbon--list:before, .widget_ribbon--list:after {
    content: " ";
    display: table;
    clear: both; }
  .widget_ribbon--list[data-length='1'] {
    width: 220px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='1'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='2'] {
    width: 440px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='2'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='3'] {
    width: 660px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='3'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='4'] {
    width: 880px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='4'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='5'] {
    width: 1100px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='5'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='6'] {
    width: 1320px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='6'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='7'] {
    width: 1540px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='7'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='8'] {
    width: 1760px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='8'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='9'] {
    width: 1980px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='9'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='10'] {
    width: 2200px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='10'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='11'] {
    width: 2420px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='11'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='12'] {
    width: 2640px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='12'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='13'] {
    width: 2860px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='13'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='14'] {
    width: 3080px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='14'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='15'] {
    width: 3300px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='15'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='16'] {
    width: 3520px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='16'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='17'] {
    width: 3740px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='17'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='18'] {
    width: 3960px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='18'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='19'] {
    width: 4180px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='19'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='20'] {
    width: 4400px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='20'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='21'] {
    width: 4620px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='21'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='22'] {
    width: 4840px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='22'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='23'] {
    width: 5060px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='23'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='24'] {
    width: 5280px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='24'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='25'] {
    width: 5500px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='25'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='26'] {
    width: 5720px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='26'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='27'] {
    width: 5940px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='27'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='28'] {
    width: 6160px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='28'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='29'] {
    width: 6380px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='29'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='30'] {
    width: 6600px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='30'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='31'] {
    width: 6820px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='31'] .widget_ribbon--item {
      width: 200px; }
  .widget_ribbon--list[data-length='32'] {
    width: 7040px;
    min-width: 100%; }
    .widget_ribbon--list[data-length='32'] .widget_ribbon--item {
      width: 200px; }
.widget_ribbon--item {
  height: 100px;
  margin-left: 10px;
  background: #ff0057;
  float: left; }
  .widget_ribbon--item.hide {
    animation: hide-ribbon-widget;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: forwards; }
  .widget_ribbon--item.family-content {
    background: #3cf; }
  .widget_ribbon--item.family-connections {
    background: #fa5000; }
  .widget_ribbon--item.family-interactions {
    background: #e1059b; }
  .widget_ribbon--item.family-transactions {
    background: #81be0a; }

html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: sans-serif;
  color: rgba(30, 30, 30, 0.87); }

ul {
  list-style-type: none; }

.layout {
  width: 1000px;
  height: 565px;
  position: relative; }

.gridster {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0; }
  .panel__item {
    background: #fafafa;
    overflow: hidden;
    /* placeholder class to extend */
    /* placeholder class to extend */ }
    .panel__item[data-sizex="1"] .table-responsive, .panel__item[data-sizex="2"] .table-responsive, .panel__item[data-sizex="3"] .table-responsive, .panel__item[data-sizex="4"] .table-responsive {
      width: 100%; }
      .panel__item[data-sizex="1"] .table-responsive thead, .panel__item[data-sizex="2"] .table-responsive thead, .panel__item[data-sizex="3"] .table-responsive thead, .panel__item[data-sizex="4"] .table-responsive thead {
        display: none; }
      .panel__item[data-sizex="1"] .table-responsive *, .panel__item[data-sizex="2"] .table-responsive *, .panel__item[data-sizex="3"] .table-responsive *, .panel__item[data-sizex="4"] .table-responsive * {
        display: block; }
      .panel__item[data-sizex="1"] .table-responsive tr:before, .panel__item[data-sizex="2"] .table-responsive tr:before, .panel__item[data-sizex="3"] .table-responsive tr:before, .panel__item[data-sizex="4"] .table-responsive tr:before, .panel__item[data-sizex="1"] .table-responsive tr:after, .panel__item[data-sizex="2"] .table-responsive tr:after, .panel__item[data-sizex="3"] .table-responsive tr:after, .panel__item[data-sizex="4"] .table-responsive tr:after {
        content: " ";
        display: table;
        clear: both; }
      .panel__item[data-sizex="1"] .table-responsive tr:nth-of-type(odd), .panel__item[data-sizex="2"] .table-responsive tr:nth-of-type(odd), .panel__item[data-sizex="3"] .table-responsive tr:nth-of-type(odd), .panel__item[data-sizex="4"] .table-responsive tr:nth-of-type(odd) {
        background: #ededed; }
      .panel__item[data-sizex="1"] .table-responsive td, .panel__item[data-sizex="2"] .table-responsive td, .panel__item[data-sizex="3"] .table-responsive td, .panel__item[data-sizex="4"] .table-responsive td {
        width: 100%;
        display: block;
        text-align: right;
        float: right; }
      .panel__item[data-sizex="1"] .table-responsive td:before, .panel__item[data-sizex="2"] .table-responsive td:before, .panel__item[data-sizex="3"] .table-responsive td:before, .panel__item[data-sizex="4"] .table-responsive td:before {
        display: inline-block;
        text-align: left;
        float: left; }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(1):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(1):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(1):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(1):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(2):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(2):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(2):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(2):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(3):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(3):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(3):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(3):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(4):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(4):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(4):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(4):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(5):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(5):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(5):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(5):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(6):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(6):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(6):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(6):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(7):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(7):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(7):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(7):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(8):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(8):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(8):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(8):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(9):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(9):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(9):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(9):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(10):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(10):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(10):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(10):before {
        content: attr(data-heading); }
      .panel__item[data-sizex="1"] .table-responsive td:nth-of-type(11):before, .panel__item[data-sizex="2"] .table-responsive td:nth-of-type(11):before, .panel__item[data-sizex="3"] .table-responsive td:nth-of-type(11):before, .panel__item[data-sizex="4"] .table-responsive td:nth-of-type(11):before {
        content: attr(data-heading); }
    .panel__item[data-sizex="5"] .table-responsive th, .panel__item[data-sizex="6"] .table-responsive th, .panel__item[data-sizex="7"] .table-responsive th, .panel__item[data-sizex="8"] .table-responsive th {
      border-bottom: 1px solid #aaaaaa; }
  .panel__heading {
    background: #ff0057;
    color: #ffffff;
    background: #ff0057;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2em; }
    .family-content .panel__heading {
      background: #3cf; }
    .family-connections .panel__heading {
      background: #fa5000; }
    .family-interactions .panel__heading {
      background: #e1059b; }
    .family-transactions .panel__heading {
      background: #81be0a; }
    .panel__heading h3 {
      font-size: 16px;
      padding: .5em 0;
      margin: 0; }
  .panel__content {
    position: absolute;
    top: 2em;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; }
    .panel__content .table-responsive {
      width: 100%; }

.context_menu {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9998;
  opacity: 0; }
  .context_menu--inner {
    position: absolute;
    box-shadow: 0 0 1em rgba(20, 20, 20, 0.8);
    background: #ffffff; }
  .context_menu--header {
    padding: .5em;
    margin: 0;
    text-align: center;
    background: #ff0057;
    color: #ffffff; }
    .context_menu--header h3 {
      padding: 0;
      margin: 0; }
  .context_menu__list {
    margin: 0;
    padding: 0; }
    .context_menu__list:before, .context_menu__list:after {
      content: " ";
      display: table;
      clear: both; }
  .context_menu__item {
    padding: .5em 2em;
    cursor: pointer; }
    .context_menu__item:before, .context_menu__item:after {
      content: " ";
      display: table;
      clear: both; }
    .context_menu__item:hover {
      background: #d5d5d5; }
      .context_menu__item:hover .context_menu--sub-list {
        display: block; }
        .context_menu__item:hover .context_menu--sub-list:before, .context_menu__item:hover .context_menu--sub-list:after {
          content: " ";
          display: table;
          clear: both; }
        .context_menu__item:hover .context_menu--sub-list .context_menu--sub-item:hover {
          background: #d5d5d5; }
          .context_menu__item:hover .context_menu--sub-list .context_menu--sub-item:hover .context_menu--sub-sub-list {
            display: block; }
    .context_menu__item label {
      float: left; }
  .context_menu--sub-list {
    position: absolute;
    left: 100%;
    display: none;
    background: #ffffff;
    padding: 0;
    margin: 0; }
    .context_menu--sub-list:before, .context_menu--sub-list:after {
      content: " ";
      display: table;
      clear: both; }
    .context_menu--sub-list li {
      padding: .4em;
      position: relative; }
      .context_menu--sub-list li:before, .context_menu--sub-list li:after {
        content: " ";
        display: table;
        clear: both; }
  .context_menu--sub-sub-list {
    position: absolute;
    left: 100%;
    display: none;
    background: #ffffff;
    padding: 0;
    margin: 0; }
    .context_menu--sub-sub-list:before, .context_menu--sub-sub-list:after {
      content: " ";
      display: table;
      clear: both; }
    .context_menu--sub-sub-list li {
      padding: .4em;
      position: relative; }
      .context_menu--sub-sub-list li:before, .context_menu--sub-sub-list li:after {
        content: " ";
        display: table;
        clear: both; }

.tabs {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998; }
  .tabs--inner {
    position: absolute;
    height: 400px;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #cccccc; }
  .tabs__navigation {
    width: 30%;
    float: left; }
  .tabs__navigation--list {
    margin: 0;
    padding: 0; }
    .tabs__navigation--list:before, .tabs__navigation--list:after {
      content: " ";
      display: table;
      clear: both; }
  .tabs__navigation--item {
    width: 100%;
    background: #ff0057;
    color: #ffffff; }
  .tabs__content {
    width: 60%;
    float: left; }

.widget-name {
  text-align: center; }

body.show--context-menu .context_menu {
  visibility: visible;
  opacity: 1;
  left: 0;
  background: rgba(35, 35, 35, 0.4);
  transition: .2s visibility, .2s opacity; }

.gs-resize-handle-both {
  bottom: 0;
  right: 0; }

/*# sourceMappingURL=analytics-dashboard-grid.css.map */
